HUGGINGFACEHUB_API_TOKEN=your_huggingface_token_here
ALPHAVANTAGE_API_KEY=your_alphavantage_key_here
QDRANT_URL=https://your-cluster-url.cloud.qdrant.io
QDRANT_API_KEY=your_qdrant_api_key_here

LANGCHAIN_TRACING_V2=true
LANGCHAIN_ENDPOINT=https://api.smith.langchain.com
LANGCHAIN_API_KEY=your_langsmith_key_here
LANGCHAIN_PROJECT=Chatbot Project
